/* Reset CSS */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: Montserrat;
}

.header-navbar-contact{
    border-top: 5px solid #d7b398;
    display: flex;
    width: 100%;
    height: 44px;
    background-color: #f8f5f2;
    justify-content: space-around;
}

.item-in-left-header-navbar-contact > a{
    position: relative;
    text-decoration: none;
    
}

.header-item-icon-twitter :hover{
    color: #a9cff2;
}



.header-item-icon-facebook :hover{
    color: #839cc0;
}

.header-item-icon-vimeo :hover{
    color: #a1c8f2;
}

.header-item-icon-instagram :hover{
    color: #b49283;
}

.header-item-icon-youtube :hover{
    color: #e51a58;
}

.header-item-icon-pinterets :hover{
    color: red;
}

.item-in-left-header-navbar-contact{
    margin-top: 13px;
    display: flex;
    position: relative;
    width: 200px;
    justify-content: space-between;
    left: -0.5%;
    
}



.item-in-left-header-navbar-contact > a >i{
    color: #838383;
}

.item-center-header-navbar-contact > input{
    position: absolute;
    margin-top: 2px;
    width: 730px;
    height: 38px;
    border-radius: 30px;
    border: 2px solid #9e9e9e;
    right: 25%;
}

.list-item {
    position: relative;
    list-style: none;
    left: 250%;
    margin-top: 13px;
}

.list-item > a{

    text-decoration: none;
}

.fa-magnifying-glass{
    margin-top: -20px;
    font-size: 20px;
    position: absolute;
    left: 72%;
}

.fa-magnifying-glass:hover{
    opacity: 0.5;
}


.item-in-list-on-header{
    position: absolute;
    width: 200px;
    height: 289px;
    background-color: #fafafa;
    margin-left: -40px;
    margin-top: 5px;
    display: none;
    z-index: 10;
}




.margin-to-left{
    margin-left: 20px;
}

.item-in-list-on-header > li{
    list-style: none;
}

.item-in-list-on-header > li > a{
    color: #838383;
    text-decoration: none;
}



.list-item-on-header:hover .item-in-list-on-header {
    position: absolute;
    display: block;
}

.item-in-right-header-navbar-contact{
    width: 250px;
    position: relative;
    display: flex;
    left: 3%;
    align-items: center;
    justify-content: space-evenly;
}



.btn-shop-sale-on-header{
    width: 88px;
    height: 32px;
    background-color: #d7b398;
    color: white;
}

.btn-shop-sale-on-header:hover{
    background-color: rgb(131, 131, 131);
}

.list-langue-on-header{
    list-style: none;
}

.list-langue {
    position: relative;
}

.item-in-list-langue{
    width: 50px;
    height: 150px;
    margin-top: 10px;
    position: absolute;
    background-color: #fafafa;
}

.item-in-list-langue > li{
    position: relative;
    margin-top: 5px;
    list-style: none;
    margin-left: 1px;
    
}

.item-in-list-langue{
    z-index: 10;
    display: none;
}


.list-langue-on-header:hover .item-in-list-langue {
    display: block;
}

/* css header-navbar-information-in-shop */
.header-navbar-information-in-shop{
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #ffff;
    justify-content: space-between;
    align-items: center;
}

/* Left */
.icon-phone-in-header-nav:hover{
    color: #d7b398;
}

.icon-heart-in-header-nav:hover{
    color: #d7b398;
}

.item-in-left-header-navbar-information-in-shop{
    display: flex;
    position: relative;
    width: 700px;
    /* background-color: yellow; */
    justify-content: space-around;
    font-size: 18px;
}

.icon-in-left-header-navbar-information-in-shop{
    position: relative;
    font-size: 15px;
    left: 18%;
}

.nav-item-list-in-about{
    position: relative;
    left: 13%;
}



.nav-item-list-in-about > li > .title-item:hover{
    border-bottom: 3px solid #d7b398; 
}


.nav-item-list-in-about > li >a {
    color: black;
    text-decoration: none;
}




.nav-item-new_in{
    position: relative;
    width: 65px;
    height: 20px;
    color: black;
    text-decoration: none;
    left: 9%;
}

.nav-item-new_in:hover{
    border-bottom: 2px solid #d7b398; 
}

.nav-item-sale{
    position: relative;
    width: 45px;
    height: 20px;
    color: black;
    text-decoration: none;
    left: 5%;
}

.nav-item-sale:hover{
    border-bottom: 2px solid #d7b398; 
}


.item-in-list-about{
    margin-top: 10px;
    width: 120px;
    height: 100px;
    position: absolute;
    background-color: #fafafa;
    display: none;
}

.item-in-list-about > li{
    font-size: 18px;
    line-height: 35px;
    padding-left: 13px;
    list-style: none;
    background-color: #fafafa;
}

.item-in-list-about > li:hover{
    background-color: #f8f5f2;
}

.item-in-list-about > li > a{
    color: #838383;
    text-decoration: none;
}

.nav-item-list-in-about > li{
    list-style: none;
}

.icon-heart-in-header-nav{
    margin-left: 16px;
}


.nav-item-list-in-about:hover .item-in-list-about{
    display: block;
}

.nav-item-list-in-categories{
    position: relative;

}

.nav-item-list-in-categories > li{
    list-style: none;
}

.nav-item-list-in-categories > li > a{
    color: black;
    text-decoration: none;
}

.item-in-list-categories{
    margin-top: 10px;
    position: absolute;
    width: 250px;
    height: 150px;
    background-color: #fafafa;
    display: none;
}

.item-in-list-categories > li{
    padding-left: 15px;
    line-height: 40px;
    list-style: none;
}

.item-in-list-categories > li:hover{
    background-color: #f8f5f2;
}

.item-in-list-categories > li > a{
    color: #838383;
    text-decoration: none;
}

.nav-item-list-in-categories:hover .item-in-list-categories{
    display: block;
}

.nav-item-list-in-categories > li > .title-item:hover{
    border-bottom: 3px solid #d7b398; 
}


/* Center */
.item-in-center-header-navbar-information-in-shop > a >img{
    width: 150px;
    height: 30px;
    padding-bottom: 14px;
} 


/* Right */
.item-in-right-header-navbar-information-in-shop{
    display: flex;
    width: 700px;
    justify-content: space-around;
    font-size: 18px;
    z-index: 9;
}

.nav-item-list-in-products-pages{
    position: relative;
}


.item-in-list-products-pages{
    display: none;
    width: 250px;
    position: absolute;
    background-color: #ffff;
    line-height: 30px;
    z-index: 9;
}

.item-in-list-products-pages > li{
    padding-left: 15px;
    list-style: none;
}




.item-in-list-products-pages > li > a{
    color: #838383;
    text-decoration: none;
}

.item-in-list-products-pages > li:hover,
.item-in-list-products-pages > li > a:hover{
    background-color: #f8f5f2;
    color: black;
}

.nav-item-list-in-products-pages > li{
    list-style: none;
}

.nav-item-list-in-products-pages > li > a{
    text-decoration: none;
}

.nav-item-list-in-shop{
    position: relative;
    right: 6%;
}

.nav-item-list-in-shop > li{
    list-style: none;
}

.nav-item-list-in-shop > li > a{
    text-decoration: none;
}

.nav-item-list-in-elements{
    position: relative;
    right: 10%;
}

.nav-item-list-in-elements > li{
    list-style: none;
}

.nav-item-list-in-elements > li > a{
    text-decoration: none;
}

.nav-item-list-in-products-pages:hover .item-in-list-products-pages{
    display: block;
    z-index: -1;
}

.icon-in-right-header-navbar-information-in-shop{
    position: relative;
    right: 18%;
    z-index: 3;
}

/* .icon-cart-shopping-in-header{

} */

ul.nav-item-list-in-shop:hover .item-in-list-shop{
    display: block;
    display: flex;
    padding-top: 50px;
    /* margin-top: 5px; */
}


/* Css menu shop */
.item-in-list-shop{
    position: absolute;
    width: 1222px;
    height: 450px;
    display: flex;
    left: -1354%;
    background-color: #fafafa;
    justify-content: space-between;
    display: none;
}
.item4-in-list > ul >li,
.item3-in-list > ul >li,
.item2-in-list > ul >li,
.item1-in-list > ul > li{
    list-style: none;
}

.item4-in-list > ul >li > a,
.item3-in-list > ul >li > a,
.item2-in-list > ul >li > a,
.item1-in-list > ul > li > a{
    line-height: 35px;
    text-decoration: none;
    color: #838383;
}

.announcement-new-item{
    position: absolute;
    width: 45px;
    height: 15px;
    background-color: #d7b398;
}

.announcement-hot-item{
    position: absolute;
    width: 45px;
    height: 15px;
    background-color: #5f727f;
}

.announcement-trendy-item{
    width: 75px;
    height: 15px;
    background-color: black;
    position: absolute;
}

.content-in-trendy-item{
    font-size: 13px;
    text-align: center;
    margin: auto;
    color: white;
}


.content-in-new-item{
    font-size: 13px;
    text-align: center;
    margin: auto;
    color: white;
}

.content-in-hot-item{
    font-size: 13px;
    text-align: center;
    margin: auto;
    color: white;
}

.item-in-Product-Grids{
    left: 45%;
    margin-top: -25px;
}

.item-in-3x-Grid-100-width{
    margin-top: -25px;
    right: 29.5%;
}

.item-in-Cart-Checkout-Builder{
    left: 75%;
    margin-top: -25px;
}

.img-in-list > img{
    margin-top: 40px;
    position: absolute;
    width: 600px;
    height: 180px;
    left: -125%;
}



.item-in-Hidden-Horizontal-Filter{
    margin-top: -25px;
    left: 52%;
}

.item-in-Hidden-Sidebar-Filter{
    margin-top: -25px;
    left: 65%;
}

.item-in-Shop-Categories-Builder{
    margin-top: -25px;
    left: 73%;
}

.item-in-Products-Builder{
    left: 37%;
    margin-top: -25px;
}


.header-item1-in-list-shop{
    border-bottom: 2px solid #d7b398;
}

.header-item2-in-list-shop{
    border-bottom: 2px solid #d7b398;
}

.header-item3-in-list-shop{
    border-bottom: 2px solid #d7b398;
}

.header-item4-in-list-shop{
    border-bottom: 2px solid #d7b398;
}



.item1-in-list-shop{
    position: relative;
    width: 250px;
    height: 400px;
    /* background-color: yellow; */
}

.item1-in-list-shop > li:hover{
    background-color: #f8f5f2;
}


.item2-in-list {
    /* position: relative; */
    width: 263px;
    height: 400px;
    /* background-color: red; */
}

.item2-in-list-shop > li:hover{
    background-color: #f8f5f2;
}


.item3-in-list {
    /* position: relative; */
    width: 263px;
    height: 400px;
    /* background-color: purple; */
}

.item3-in-list-shop > li:hover{
    background-color: #f8f5f2;
}


.item4-in-list {
    position: relative;
    width: 250px;
    height: 400px;
    /* background-color: pink; */
    right: 3%;
}

.item4-in-list-shop > li:hover{
    background-color: #f8f5f2;
}


.item-in-list-elments-pages{
    width: 1222px;
    height: 450px;
    position: absolute;
}

/* Start CSS in element */
.item-in-list-elments-pages{
    position: absolute;
    width: 1222px;
    height: 350px;
    display: flex;
    left: -891%;
    /* background-color: red; */
    /* background-color: #EBE5DDFF; */
    background-color: #fafafa;
    justify-content: space-between;
    padding-top: 8px ;
    display: none;
    
}

.item-in-list-elments-pages > div > ul > li{
    line-height: 2.3em;
    list-style: none;
}


.item-in-list-elments-pages > div > ul > li > a{
    color: #5f727f;
    line-height: 2.3em;
    list-style: none;
    text-decoration: none;
}

.list4-in-elements{
    width: 200px;
    position: relative;
    right: 7%;
}

.item-new-in-elements{
    position: absolute;
    top: 15%;
    left: 75%;
}

.content-in-item-new-elements{
    position: absolute;
    font-size: 15px;
    margin-top: -12px;
    margin-left: 4px;
    color: #f8f5f2;

}

.header-item1-in-list-elements,
.header-item2-in-list-elements,
.header-item3-in-list-elements,
.header-item4-in-list-elements{
    margin-top: 10px;
    margin-bottom: 10px;
}

.item4-in-list-elements > li:hover,
.item3-in-list-elements > li:hover,
.item2-in-list-elements > li:hover,
.item1-in-list-elements > li:hover{
    background-color: #f8f5f2;
}

.nav-item-list-in-elements :hover .item-in-list-elments-pages{
    display: block;
    display: flex;
}
/* End css in element */

.icon-cart-shopping-in-header{
    margin-left: 10px;
}

.backround-in-icon-shopping-in-header{
    margin-top: 10px;
    position: absolute;
    width: 179px;
    height: 50px;
    background-color: #e9e9e9;
    left: 60%;
    display: none;
}

.content-in-backround-icon-shoping-header{
    text-align: center;
    margin: auto;
    font-size: 17px;
    padding-top: 15px;
    color: black !important;

}

.icon-cart-shopping-in-header:hover .backround-in-icon-shopping-in-header{
    display: block;
}

.icon-user-in-header:hover{
    color: #d7b398;
}

.icon-cart-shopping-in-header:hover{
    color: #d7b398;
}


/* Start css  header-banner */
.banner-in-header{
    width: 100%;
    height: 46px;
    background-color: #f8f5f2;
    display: flex;
    font-size: 15px;
    /* margin-top: 60px; */
}

.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 46px;
    border-width: 1px;
    border-right: 1px solid;
    border-color: #e9e6e4;
    margin-left: 130px;
}

.banner2{
    display: flex;
    align-items: center;
    width: 580px;
    height: 46px;
    border-width: 1px;
    border-right: 1px solid;
    border-color: #e9e6e4;
    justify-content: center;
}

.banner3{
    display: flex;
    align-items: center;
    width: 580px;
    height: 46px;
    justify-content: center;
    margin-right: 130px;
}

.banner3 > a{
    color : #d7b398;
}

/* Start CSS Content */
.img-in-content > img{
    width: 100%;
    background-color: #f8f7f2;
}

.content-in-img-content{
    display: flex;
    position: absolute;
    top: 50%;
}

.header-in-content-in-img{
    position: absolute;
    width: 300px;
    font-size: 40px;
    display: flex;
    margin-top: -70px;
    left: 100%;
}

.paragraph-in-img-content{
    font-size: 20px;
    width: 430px;
    position: absolute;
    top: 55%;
    left: 100%;
}

.header-blod-in-content{
    margin-left: 15px;
}

.btn-shop-now{
    position: relative;
    width: 156px;
    height: 35px;
    background-color: #d7b398;
    top: 430%;
    left: 100%;
}

.btn-shop-now:hover{
    background-color: #5f727f;
}

.content-in-btn{
    color: white;
}
.icon-direction{
    width: 100%;
    margin: auto;
    align-items: center;
    top: 55%;
    position: absolute;
    font-size: 45px;
    color: white;
}

.icon-next-in-img-content{
    position: absolute;
    left: 97%;
}

.btn-buy-now{
    position: fixed;
    width: 100px;
    height: 59px;
    background-color: #00bcd4;
    top:80%;
    right: 1%;
}

.btn-buy-now:hover{
    background-color: black;
    color: white;
}

.icon-cart-in-content{
    color: white;
}

.fa-chevron-up{
    color: #5d656b;
}

.btn-back-main-page{
    top: 90%;
    position: fixed;
    width: 49px;
    height: 49px;
    background-color: #141418;
    left: 92.5%;
}

.link-btn-back-main-page > button > i{
    text-decoration: none;
}

/* Content img price delivery */
.pirce-of-delivery-in-content > img{
    margin-top: -5px;
    width: 100%;
}

/* Model in content */
.model-in-collection-in-content{
    width: 100%;
    display: flex;
    margin-top: -5px;
}

.model-men-in-collection > img{
    width: 100%;
    background-color: #f9f9fb
}

.model-women-in-collection > img{
    width: 100%;
    background-color: #f9f9fb;
}


.btn-discorver-in-model{
    width: 110px;
    height: 39px;
    background-color: #d7b398;
    color: white;
}

.btn-discorver-in-model:hover{
   background-color: #554f4f;
}

/* Cac thanh phan trong collection men */
.header-in-paragraph-in-model-men{
    display: flex;
    font-size: 38px;
}

.header-bold-in-collection-men{
    margin-left: 15px;
}

.paragraph-in-model-men-in-collection{
    top: 140%;
    position: absolute;
    margin-left: 55px;
}

.paragraph-check-the-collection{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Cac thanh phan trong collection women */

.header-in-paragraph-in-model-women{
    display: flex;
    font-size: 38px;
}

.header-bold-in-collection-women{
    margin-left: 15px;
}

.paragraph-in-model-women-in-collection{
    top: 140%;
    position: absolute;
    margin-left: 55px;
}

.paragraph-check-the-collection{
    font-size: 25px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* CSS list-item-clothes-in-content  */
.list-item-clothes-in-content{
    width: 100%;
    display: flex;
}

.list-item-clothes-in-content > div > img{
    width: 378px;
    height: 357px;
}

.name-of-item{
    font-size: 30px;
    position: absolute;
    top: 216%;
}

.item-dress-in-list-item-content{
    left: 2%;
}


.item-shirts-in-list-item-content{
    left: 28%;
}

.item-bags-in-list-item-content{
    left: 52%;
}

.item-accessories-in-list-item-content{
    left: 76%;
}

.list-item-clothes-in-content .item-dress-in-content:hover{
    background: #141418;
    color: white;
}

.list-item-clothes-in-content .item-shirts-in-content:hover{
    background: #141418;
    color: white;
}

.list-item-clothes-in-content .item-bags-in-content:hover{
    background: #141418;
    color: white;
}

.list-item-clothes-in-content .item-bags-in-content:hover{
    background: #141418;
    color: white;
}

.list-item-clothes-in-content .item-accessories-in-content:hover{
    background: #141418;
    color: white;
}