/* Reset CSS */
*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* Start CSS Header */
.header{
    width: 100%;
    /* position: fixed; */
}

.header-item{
    width: 100%;
    height: 70px;
    background-color: #f8f5f2;
    border-top: 5px solid #d7b398;
    display: flex;
    
   
}

.header-item-icon-twitter{
    color: #9e9e9e;
}


.header-item-icon-twitter:hover{
    color: #a9cff2;
}

.header-item-icon-facebook{
    color: #9e9e9e;
}

.header-item-icon-facebook:hover{
    color: #839cc0;
}

.header-item-icon-vimeo{
    color: #9e9e9e;
}

.header-item-icon-vimeo:hover{
    color: #a1c8f2;
}

.header-item-icon-instagram{
    color: #9e9e9e;
}

.header-item-icon-instagram:hover{
    color: #b49283;
}

.header-item-icon-youtube{
    color: #9e9e9e;
}

.header-item-icon-youtube:hover{
    color: #e51a58;
}

.header-item-icon-pinterets{
    color: #9e9e9e;
}

.header-item-icon-pinterets:hover{
    color: red;
}

.header-item > a:first-child{
    margin-left: 141px;
}


.header-item > a{
    display: flex;
    align-items: center;
    font-size: 24px; 
    margin-top: 10px;
    margin-left: 20px;
    text-decoration: none;
}

.item-to-search{
    position: relative;
    margin-left: 150px;
    display: flex;
    align-items: center;
}

.input-find{
    width: 736px;
    height: 35px;
    border-radius: 17px;
    font-size: 20px; 
    margin-top: 9px;
}

.list-item-on-header{
    margin-left: -240px;
    height: 25px;
    font-size: 20px;
}

.list-item-on-header > li{
    width: 145px;
}

.item-in-list-on-header{
    width: 5x;
    height: 337px;
    margin-top: 20px;
    position: relative;
    list-style: none;
    display: none;
    background-color: #fff;

}

.item-in-list-on-header > li > a{
    text-decoration: none;
    color: #b1a49e;
}

.item-in-list-on-header > li > a:hover{
    text-decoration: none;
    color: red;
}

.list-item{
    list-style: none;
    text-decoration: none;
    padding: 5px 0px 20px 5px;
}

.list-item > a {
    text-decoration: none;
}

.margin-to-left{
    margin-left: 17px;
}

ul.list-item-on-header  :hover ul.item-in-list-on-header{
    display: block;
} 

.fa-magnifying-glass{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 35px;
}


.shop-discount{
    position: relative;
    width: 90px;
    height: 45px;
    background-color: #d7b398;
    left: 130%;
    border-radius: 5px;
    margin-left: 100px;
}

.shop-discount:hover{
    background-color: #554f4f;
}

.shop-discount > p{
    width: 90px;
    height: 45px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 18px;
    color: white;
}



.list-langue{
    margin-top: 1%;
    padding-top: 10px;
    font-size: 20px;
    margin-left: 300px;
}

.list-langue > li {
    list-style: none;
}


.list-langue > li > a{
    text-decoration: none;
}

.item-in-list-langue > li{
    width: 50px;
    position: relative;
    list-style: none;
    text-decoration: none;
    background-color: #fff;
    padding-bottom: 3px;
}

.item-in-list-langue{
    display: none;
}

ul.list-langue :hover ul.item-in-list-langue{
    display: block;
} 

/* CSS header-nav */
.header-nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    position: fixed;
    margin-top: -10px;
}

.nav-item-main-page > img{
    width: 180px;
    height: 52px;
    display: flex;
    vertical-align: middle;
}

.fa-phone{
    margin-left: 70px;
}

.fa-phone:hover{
    color: #d7b398;
}

.fa-heart{
    margin-left: -40px;
}

.fa-heart:hover{
    color: #d7b398;
}

.nav-item-list-in-about > li {
    list-style: none;
}

.nav-item-list-in-about > li > a {
    color: black;
    text-decoration: none;
}

.nav-item-new_in,
.nav-item-sale{
    text-decoration: none;
}

.nav-item-list-in-elements > li,
.nav-item-list-in-shop > li,
.nav-item-list-in-products-pages > li,
.nav-item-list-in-categories > li {
    position: relative;
    list-style: none;
}

.nav-item-list-in-products-pages > li >a,
.nav-item-list-in-shop > li >a,
.nav-item-list-in-elements > li >a,
.nav-item-list-in-categories > li > a{
    
    text-decoration: none;
}

/* CSS header_nav */

/* CSS Phan About */
.nav-item-list-in-about > li > a{
    font-size: 25px;
    
}

.nav-item-list-in-about > li > a:hover{
    border-bottom: 2px solid black ;
}



.nav-item-list-in-about{
    position: relative;
    /* margin-top: 140px; */
}



.item-in-list-about{
    position: absolute;
    width: 250px;
    height: 430px;
    display: none; 
    background-color: #fff;
    /* margin-top: 25px; */
}
.item-in-list-about >li{
    margin-top: 20px;
    list-style: none;
    /* background-color: red; */
}

.item-in-list-about  :hover{
    background-color: #f8f5f2;
    
}

.item-in-list-about > li > a{
    
    line-height: 50px;
    font-size: 20px;
    margin-left: 20px;
    text-decoration: none;
    margin-top: 30px;
    /* padding: 0px 0px 20px 5px;    */
    color: #554f4f;
}

.item-in-list-about > li > a:hover{
    color: black;
}


.item-in-list-about > li > a{
    position: relative;
    margin-top: 50px;
}

ul.nav-item-list-in-about:hover ul.item-in-list-about{
    display: block;
}

.nav-item-new_in,
.nav-item-sale{
    color: black;
}

.nav-item-new_in:hover,
.nav-item-sale:hover{
    border-bottom: 2px solid black;
}


/* CSS Phan CATEGORIES */
.nav-item-list-in-categories{
    position: relative;
}

.nav-item-list-in-categories > li > a{
    color: black;
}

.item-in-list-categories{
    padding-top: 20px;
    position: absolute;
    width: 265px;
    height: 190px;
    margin-left: 20px;
    display: none;
    /* margin-top: 150px; */
    background-color: #fff;
}

.item-in-list-categories > li{
    position: relative;
    list-style: none;
}

.item-in-list-categories > li:hover{
    background-color: #f8f5f2;
}

.item-in-list-categories > li > a{
    margin-top: 25px;
    position: relative;
    line-height: 50px;
    text-decoration: none;
    color: #554f4f;
}

.item-in-list-categories > li > a:hover{
    color: black;
}


ul.nav-item-list-in-categories:hover ul.item-in-list-categories{
    display: block;
}

/* Css phan header Products Page */
.nav-item-list-in-products-pages{
    position: relative;
    
}

.nav-item-list-in-products-pages > li > a{
    color: black;
}


.item-in-list-products-pages{
    display: none;
    line-height: 50px;
    width: 265px;
    height: 500px;
    position: absolute;
    background-color: #fff;
    padding-top: 20px;
    /* margin-top: 5px; */
}

.item-in-list-products-pages > li:hover{
    background-color: #f8f5f2
}

.item-in-list-products-pages > li{
    position: relative;
    list-style: none;
    margin-left: 20px;
}

.item-in-list-products-pages > li > a{
    
    color: #554f4f;
    position: relative;
    text-decoration: none;
}

.item-in-list-products-pages > li > a:hover{
    color: black;
}


ul.nav-item-list-in-products-pages:hover ul.item-in-list-products-pages{
    display: block;
}

/* CSS phan shop */
.nav-item-list-in-shop{
    position: relative;
}

/* .item1-in-list-shop{
    position: absolute;
} */

.item-in-list-shop{
    /* margin-top: 20px; */
    position: absolute;
    width: 1720px;
    height: 530px;
    background-color: #f8f5f2;
    left: -1680%;
    display: flex;
    justify-content: space-between;
    display: none;
    
}

.item-in-list-shop > div >  ul  > h1{
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.item-in-list-shop > div >  ul > li{
    position: relative;
    margin-top: 10px;
    line-height: 30px;
    list-style: none;
}

.item-in-list-shop > div >  ul > li:hover{
    background-color: #e9e6e4;
}

.item-in-list-shop > div >  ul > li > a{
    color: #554f4f;
    text-decoration: none;
}

.item4-in-list{
    margin-right: 90px;
}




.announcement-new-item{
    width: 45px;
    height: 20px;
    background-color: #d7b398;
    position: absolute;
    left: 60%;
    margin-top: -27px;
}

.announcement-trendy-item{
    width: 75px;
    height: 20px;
    background-color: black;
    position: absolute;
    left: 45%;
    margin-left: 20px;
    margin-top: -24px;
}

.announcement-trendy-item > p{
    color: #fafafa;
    margin-top: -5px;
    margin-left: 6px;
    font-size: 15px;
}

.announcement-new-item > p{
    color: #fafafa;
    margin-top: -5px;
    margin-left: 6px;
    font-size: 15px;
}



.item-in-Hidden-Sidebar-Filter{
    margin-left: 30px;
}

.item-in-Shop-Categories-Builder{
    margin-left: 55px;
}

.item-in-Product-Grids{
    margin-left: 100px;
}


.announcement-hot-item{
    width: 45px;
    height: 20px;
    background-color: #5f727f;
    position: absolute;
    left: 8%;
    margin-top: -25px;
}


.item-in-3x-Grid-100-width{
    position: absolute;
    left: 75%;

}

.item-in-list-shop > .item3-in-list{
    width: 260px;
}

.item-in-list-shop > .item4-in-list{
    width: 280px;
}

.announcement-hot-item > p{
    color: #fafafa;
    margin-top: -5px;
    margin-left: 6px;
    font-size: 15px;
}

.img-in-list > img{
    width: 820px;
    height: 250px;
    margin-left: -450px;
    margin-top: 10px;
}

.item-in-Cart-Checkout-Builder{
    left: 70%;
    margin-left: 20px;
}

ul.nav-item-list-in-shop:hover .item-in-list-shop{
    display: block;
    display: flex;
    padding-top: 50px;
    /* margin-top: 5px; */
}

/* CSS Phan menu Elements */
.nav-item-list-in-elements{
    position: relative;
}
 

.item-in-list-elements{
    position: absolute;
    width: 1600px;
    height: 470px;
    background-color: #fafafa;
    left: -1090%;
    display: flex;
    justify-content: space-between;
    display: none;
}

.fa-cart-shopping{
    margin-left: -40px;
}

.fa-cart-shopping:hover{
    color: #d7b398;
}

.fa-user:hover{
    color: #d7b398;
}

 .content-in-cart-shoping{
    padding-top: 10px;
    height: 30px;
    position: absolute;
    left: 80%;
    background-color: #fafafa;
    margin-top: 30px;
    display: none;
}

.icon-cart-shopping:hover .content-in-cart-shoping{
    display: block;
}



.item-in-list-elements > div > ul > li {
   
    /* background-color: yellow; */
    line-height: 60px;
    list-style: none;
}

.item-in-list-elements > div > ul > li  :hover {
    background-color: #f8f5f2;
    color: black;
    margin-top: 50px;
}

.item-in-list-elements > div > ul > li >a {
    /* width: 200px; */
    padding-top: 10px;
    /* padding-right: 43px; */
    padding-bottom: 20px;
    text-decoration: none;
    color: #554f4f;
    /* background-color: aqua; */
    /* margin-left: 10px; */
}

.item-in-list-elements > div > ul{
    margin-left: 20px;
}

.item-in-list-elements > div > ul > h1 {
    margin-bottom: 20px;
}

.list4-in-elements{
    margin-right: 100px;
}

ul.nav-item-list-in-elements:hover .item-in-list-elements{
    display: block;
    display: flex;
    padding-top: 50px;
    /* margin-top: 5px; */
}

.item-new-in-elements{
    margin-top: -40px;
    position: absolute;
    left: 93%;
}

.item-new-in-elements >p{
    margin-top: -20px;
    color: #e9e6e4;
    left: 10%;
}

/* CSS banner-in-header */
.banner-in-header{
    width: 100%;
    height: 46px;
    background-color: #f8f5f2;
    display: flex;
    font-size: 20px;
    margin-top: 60px;
}

.banner1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 580px;
    height: 46px;
    border-width: 1px;
    border-right: 1px solid;
    border-color: #e9e6e4;
}

.banner2{
    display: flex;
    align-items: center;
    width: 580px;
    height: 46px;
    border-width: 1px;
    border-right: 1px solid;
    border-color: #e9e6e4;
    justify-content: center;
}

.banner3{
    display: flex;
    align-items: center;
    width: 580px;
    height: 46px;
    justify-content: center;
}

.banner3 > a{
    color : #d7b398;
}


/* CSS content */
.img-in-content > img{
    /* position: relative; */
    background-color: #f0efed;
    margin-top: 2px;
    width: 100%;
    height: 700px;
    margin-bottom: 30px;
}

.header-in-img{
    position: relative;
    color: yellow;
}

.content-in-img-content{
    /* position: relative; */
    display: flex;
    font-size: 80px;
    margin-top: -600px;
    margin-left: 200px;   
}

.header-blod-in-content{
    margin-left: 30px;
}

.paragraph-in-img-content{
    width: 700px;
    font-size: 30px;
    margin-top: 130px;
    margin-left: -550px;
}

.btn-in-img{
    /* position: absolute; */
    width: 200px;
    height: 55px;
    background-color: #d7b398;
    margin-top: 300px;
    margin-left: -710px;
}

.btn-in-img:hover{
    background-color: #554f4f;
}

.content-in-btn{
    display: flex;
    font-size: 20px;
    justify-content: center;
    color: #fff;
}
.fa-chevron-right,
.fa-chevron-left{
    top: 46%;
    position: absolute;
    left: 2%;
    font-size: 80px;
    color: #fff;
}

.fa-chevron-right{
    left: 95%;
}

.btn-buy-now{
    position: fixed;
    width: 130px;
    height: 70px;
    background-color: #00bcd4;
    left: 131%;
    top: 47%;
    
}

.icon-cart-in-content{
    position: absolute;
    font-size: 25px;
    margin-top: -30px;
    margin-left: -15px;
}

.content-in-btn-buy-now{

    position: absolute;
    font-size: 25px;
    margin-left: 6px;
}

.btn-buy-now:hover .content-in-btn-buy-now{
    background-color: #554f4f;
    color: #fff;
}

.btn-buy-now:hover .icon-cart-in-content{
    color: #fff;
}

.btn-back-main-page{
    width: 50px;
    height: 50px;
    position: fixed;
    font-size: 40px;
    background-color: #554f4f;
    left: 94%;
    top: 90%;
}

.fa-chevron-up{
    color: #e9e6e4;
}

.backround-cotent-delivery > img{
    width: 100%;
    margin-top: 211px;
}